@charset "UTF-8";

@font-face {
    font-family: 'Jersey';
    src: url(../font/Jersey15/Jersey15-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat';
    src: url(../font/Montserrat/Montserrat-Regular.woff);
}
@font-face {
    font-family: 'Pixelify';
    src: url(../font/Pixelify_Sans/PixelifySans-VariableFont_wght.ttf);
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

   
p {
    font-weight: 900;
}


body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: black;
    
}


#chapter-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    position: fixed;

    background-color: #0e0e0e9a;
     z-index: 100;
    
    top: 50%;
    transform: translateY(-50%);
    right: 1%;
    width: 100px;
    height: 400px;
    border-radius: 50px;
    backdrop-filter: blur(30px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.329); 
}

main {
    height: 400vh;
}


.texts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}



.jinmu {
    right: 10%;
    position: absolute;
    height: 50vw;
}

.yatagarasu {
    left: 1%;
    position: absolute;
}


.first-sect {
    position: relative;
    background: url(../img/BGjinmu.png) top center fixed no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
    width: 100vw;
}


.story1 {
    position: relative;
    background: url(../img/war.png) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
    /* gap: 100px; */
    width: 100vw;
    height: 100vh;
}


.textbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 700px;
    height: 675px;
    background-color: #212121;
    border-radius: 30px;
    text-align: justify;

}


.amaterasu {
    position: absolute;
    height: 60vh;
    left: 15%;
    bottom: 5%;
}


.amaterasu-txt {
    margin-right: 10%;
}


.textboxwid {
    width: 770px;
    height: 400px;
}


.story2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(../img/BGnight-ocean.png) no-repeat center; */
    /* background-size: cover; */
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #302B31;
    
}




.tesouros {
    width: 60vw;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
}


.joia {
    filter: drop-shadow(0px 0px 24px #A100FF);
}


.espada {
    height: 700px;
    filter: drop-shadow(0px 0px 24px #ff880079);
    
}


.espelho {
    filter: drop-shadow(0px 0px 24px #00b3ff7a);
    
}


.story2 .textbox {
    margin-top: 20px;
}


.effect {
    transform: translate(-4vw);
    height: 100vh;
}


.wave {
    position: absolute;
    bottom: 0;
    right: 0;
}


.textbox2 {
    width: 700px;
}

.textbox3 {
    width: 800px;
    height: 500px;
}


.story3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
    background: url(../img/BGjinmu.png) no-repeat center;
    background-size: cover;
}



.ninigi2 {
    width: 30vw;
    transform: scaleX(-1);
}


#ninigi2-txt {
    width: 770px;
    height: 300px;
    margin-right: 10%;
}