


nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 20px;
    top: 0;
    z-index: 90;
}

a {
    text-decoration: none;
}

#menu-icon {
    
    width: 60px;
    transition: 0.5s;
    color: white;
    
}


#menu-icon:hover {
    animation: rotationX 1s ease-in-out;
    cursor: pointer;
    transition: 0.5s;
    color: #ffffffe8;
}


menu {
    top: 0;
    z-index: 100;
    position: fixed;
    height: 100vh;
    left: 0;

    transform: translateX(-100%);

    
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #0e0e0e9a;
    backdrop-filter: blur(30px);
    color: white;
    width: 20%;
    padding: 10px;
    border-left: 9px solid #B02121;
    gap: 60px;
}



.menu-h1 {
    display: inline;
    overflow-y: hidden;
    width: 70%;
    display: inline;
}

.menu-h1 h1{
    display: inline;
    
    color: white;
    text-decoration: none;
    font-size: 2.5em;
    font-family: 'Pixelify';
    padding: 10px;
}


mark {
    background-color: #0000;
    color: #B02121;
}




.menu-link {
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    gap: 10px;
    
    height: 70px;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}


.menu-link:hover {
    background-color: #ffffff38;
    transition: 0.5s;
}





.subitens {
    display: flex;
    text-align: left;
    align-items: center;
    gap: 10px;

    padding-left: 50px;
}


.unable {
    visibility: hidden;
}





.subitens img{
    width: 30px;
}


.rotateIcon {
    transform: rotate(-90deg);
    transition: transform 0.3s ease; /* Transição suave para a rotação */
}


#close-menu{
    top: 5%;
    left: 85%;
    position: absolute;
    width: 30px;
    transition: 0.5s;
}


#close-menu:hover {
    animation: rotationX 1s ease-in-out;
    color: #ffffffe8;
    transition: 0.5s;
}


@keyframes rotationX {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

