h1.pixel {
    font-family: 'Jersey';
    font-size: 3.5em;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
}


h2.pixel {
    font-family: 'Jersey';
    font-size: 2.5em;
    color: white;
    font-weight: 100;
    text-transform: uppercase;
}


h1.mont {
    font-family: 'Montserrat';
    font-size: 3.5em;
    color: white;
    font-weight: 100;
}


p {
    font-family: 'Montserrat';
    font-size: 1.5em;
    color: white;
    text-align: justify;
}

p.minor {
    font-size: 1em;
}


p.p-wid200 {
    width: 60%;
    text-align: center;
}


.montStats {
    font-family: 'Montserrat';
    font-size: 3.5em;
    color: white;
    font-weight: 700;
}